// app global css in Stylus form
.fa-board:before
    content: url("~assets/board.svg")

.my-card
    margin: 10px
    width: 300px
    @media screen and (min-width: 600px)
        width: 500px

.q-img__content > div
    position: absolute
    padding: 16px
    color: #fff
    background: rgba(0,0,0,0.70)

.q-card__actions
    padding: 18px
    align-items: center
    background-color: #2e2d2e
